@{
    ViewData["Title"] = "Início";
}

<div class="container my-5 mt-5">
    <div class="p-5 mt-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">Aguarde</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Sistema em desenvolvimento
        </p>
    </div>
</div>
