@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert d-sm-flex alert-danger pb-4 pt-sm-4" role="alert">
        <i class="ci-alert-triangle fs-4 mt-1 mb-2 mb-sm-0"></i>
        <div class="ps-sm-3 pe-sm-4">
            <h4 class="alert-heading mb-2">Opa! Algo deu errado!</h4>
            <div style="padding-top: 20px" asp-validation-summary="All" class="text-danger"></div>
        </div>        
    </div>
}

@{
    if (TempData["Erros"] is IEnumerable<string> mensagensErro && mensagensErro.Any())
    {
        <div class="alert d-sm-flex alert-danger pb-4 pt-sm-4" role="alert">
            <i class="ci-alert-triangle fs-4 mt-1 mb-2 mb-sm-0"></i>
            <div class="ps-sm-3 pe-sm-4">
                <h4 class="alert-heading mb-2">Opa! Algo deu errado!</h4>
            </div>
           
            <ul>
                @{
                    foreach (var erro in mensagensErro)
                    {
                        <li>@erro</li>
                    }
                }

            </ul>
        
        </div>
    }
}