@model JSE.WebApp.MVC.Models.UsuarioRegistroViewModel

@{
    ViewData["Title"] = "Cadastro de novo usuário";
}

<div class="container  align-items-center mt-4">
    <div class="col-4 w-50 m-auto">
        <h2 class="h2 mt-auto">Cadastre-se</h2>

        <div class="nav fs-sm mb-4">
            Eu já tenho uma conta?
            <a class="nav-link text-decoration-underline p-0 ms-2" asp-action="Login" asp-controller="Identidade">Entre</a>
        </div>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" autocomplete="off">
            <vc:Summary></vc:Summary>
            <div class="row">

                <div class="col-md-4 mb-3">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input asp-for="FirstName" type="text" class="form-control" value="" autocomplete="new-text" required>
                    <span asp-validation-for="FirstName" class="text-danger m-1"></span>
                </div>

                <div class="col-md-4 mb-3">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName" type="text" class="form-control" value="" autocomplete="new-text" required>
                    <span asp-validation-for="LastName" class="text-danger m-1"></span>
                </div>

                <div class="col-md-4 mb-3">
                    <label asp-for="Surname" class="form-label"></label>
                    <input asp-for="Surname" type="text" class="form-control" value="" autocomplete="new-text" required>
                    <span asp-validation-for="Surname" class="text-danger m-1"></span>
                </div>

            </div>
            <div class="row">

                <div class="col-md-4 mb-3">
                    <label asp-for="DocumentNumber" class="form-label"></label>
                    <input asp-for="DocumentNumber" type="text" class="form-control" value="" autocomplete="new-text" required>
                    <span asp-validation-for="DocumentNumber" class="text-danger m-1"></span>
                </div>

                <div class="col-md-8 mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" type="text" class="form-control" value="" autocomplete="new-text" required>
                    <span asp-validation-for="Email" class="text-danger m-1"></span>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label asp-for="GenderId" class="form-label"></label>
                    <select asp-for="GenderId" class="form-select" required>
                        <option value="" selected disabled>Selecione...</option>
                        <option value="B91AFC01-B0B7-4B5E-98BD-885F2BE32780">Masculino</option>
                        <option value="642C6A08-3CCA-484E-985F-442DD22058DD">Feminino</option>
                    </select>
                    <span asp-validation-for="GenderId" class="text-danger m-1"></span>
                </div>

                <div class="col-md-4 mb-3">
                    <label asp-for="Phone" class="form-label"></label>
                    <input asp-for="Phone" type="text" class="form-control" value="" autocomplete="new-text" required>
                    <span asp-validation-for="Phone" class="text-danger m-1"></span>
                </div>

                <div class="col-md-4 mb-3">
                    <label asp-for="BirthdayDate" class="form-label"></label>
                    <input asp-for="BirthdayDate" type="text" class="form-control" autocomplete="new-text" required>
                    <span asp-validation-for="BirthdayDate" class="text-danger m-1"></span>
                </div>

            </div>

            <div class="row">


                <div class="col-md-6 mb-3">
                    <div class="password-toggle">
                        <input asp-for="Senha" type="password" class="form-control form-control-lg" placeholder="Senha" required>
                        <span asp-validation-for="Senha" class="invalid-tooltip bg-transparent py-0"></span>
                        <label asp-for="Senha" class="password-toggle-button fs-lg" aria-label="Show/hide password">
                            <input type="checkbox" class="btn-check">
                        </label>
                    </div>
                </div>


                <div class="col-md-6 mb-3">
                    <div class="password-toggle">
                        <input asp-for="SenhaConfirmacao" type="password" class="form-control form-control-lg" placeholder="Confirme a Senha" required>
                        <span asp-validation-for="SenhaConfirmacao" class="invalid-tooltip bg-transparent py-0"></span>
                        <label asp-for="Senha" class="password-toggle-button fs-lg" aria-label="Show/hide password">
                            <input type="checkbox" class="btn-check">
                        </label>
                    </div>
                </div>

            </div>


            <div class="mb-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" required>
                    <label for="validationText06" class="form-check-label">Concordo com os termos e condições</label>
                    <div class="invalid-feedback">Você deve concordar antes de enviar</div>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary w-100">Cadastrar</button>
        </form>
        <div class="d-flex align-items-center my-4">
            <hr class="w-100 m-0">
            <span class="text-body-emphasis fw-medium text-nowrap mx-4">ou continue com</span>
            <hr class="w-100 m-0">
        </div>

        <div class="d-flex flex-column flex-sm-row gap-3 pb-4 mb-3 mb-lg-4">
            <button type="button" class="btn btn-lg btn-outline-secondary w-100 px-2">
                <i class="ci-google ms-1 me-1"></i>
                Google
            </button>
            <button type="button" class="btn btn-lg btn-outline-secondary w-100 px-2">
                <i class="ci-facebook ms-1 me-1"></i>
                Facebook
            </button>
            <button type="button" class="btn btn-lg btn-outline-secondary w-100 px-2">
                <i class="ci-apple ms-1 me-1"></i>
                Apple
            </button>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
