@model JSE.WebApp.MVC.Models.UsuarioRegistroViewModel

@{
    ViewData["Title"] = "Cadastro de novo usuário";
}


<div class="row mt-5">
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" autocomplete="off">
        <vc:Summary></vc:Summary>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" type="text" class="form-control" value="" autocomplete="new-text" required>
                <span asp-validation-for="Nome" class="text-danger m-1"></span>
            </div>

            <div class="col-md-4 mb-3">
                <label asp-for="Cpf" class="form-label"></label>
                <input asp-for="Cpf" type="text" class="form-control" value="" autocomplete="new-text" required>
                <span asp-validation-for="Cpf" class="text-danger m-1"></span>
            </div>



        </div>
        <div class="row">


            <div class="col-md-8 mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" type="text" class="form-control" value="" autocomplete="new-text" required>
                <span asp-validation-for="Email" class="text-danger m-1"></span>
            </div>


        </div>

        <div class="row">

            <div class="col-md-4 mb-3">
                <label asp-for="Senha" class="form-label"></label>
                <input asp-for="Senha" type="password" class="form-control" value="" autocomplete="new-text" required>
                <span asp-validation-for="Senha" class="text-danger m-1"></span>
            </div>

            <div class="col-md-4 mb-3">
                <label asp-for="SenhaConfirmacao" class="form-label"></label>
                <input asp-for="SenhaConfirmacao" type="password" class="form-control" value="" autocomplete="new-text" required>
                <span asp-validation-for="SenhaConfirmacao" class="text-danger m-1"></span>
            </div>

        </div>


        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" required>
                <label for="validationText06" class="form-check-label">Concordo com os termos e condições</label>
                <div class="invalid-feedback">Você deve concordar antes de enviar</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <hr class="my-4">
        <small class="text-body-secondary"><a asp-action="Login" asp-controller="Identidade">Entrar</a></small>
    </form>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
